<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.meisui.manage.dao.IrechargeDao">
	<select id="getRechargeList" resultType="com.meisui.manage.entity.Recharge">
		select
		r.is_pay,r.o_id,r.uid,u.f_uuid,u.operate_center_id,r.recharge_rmb,r.change_virtual,r.pay_trade_no,r.pay_type,r.create_time,r.channel,r.platform,u.nickname,r.pay_virtual
		from t_recharge r,t_user u where r.uid=u.id and r.is_pay=#{is_pay}
		<if test="pay_virtual >-1">
		and r.pay_virtual= #{pay_virtual}
		</if>
		<if test="uid>0">
			and r.uid = #{uid}
		</if>
		<if test="f_uuid>0">
			and u.f_uuid = #{f_uuid}
		</if>
		<if test="agent_id>0">
			and r.agent_id = #{agent_id}
		</if>
		<if test="pay_type>-1">
			<choose>
				<when test="pay_type==3"> and (r.pay_type = 3 or r.pay_type = 4 or r.pay_type = 5) </when>
				<otherwise> and r.pay_type = #{pay_type} </otherwise>
			</choose>
		</if>
		<if test="operate_centerid>0">
		    and u.operate_center_id=#{operate_centerid} 
		</if>
		<if test="o_id !=null and o_id != ''">
			and r.o_id = #{o_id}
		</if>
		<if test="platform !=null and platform != ''">
			and r.platform=#{platform}
		</if>
		<if test="channel !=null and channel != ''">
			and r.channel=#{channel}
		</if>
		<if test="nickname !=null and nickname != ''">
			and u.nickname like "%"#{nickname}"%"
		</if>
		<if test="start_time != null and start_time != ''">
		<![CDATA[ and create_time>=#{start_time} ]]>
		</if>
		<if test="end_time != null and end_time != ''">
		<![CDATA[ and create_time<=#{end_time} ]]>
		</if>
		order by r.create_time desc limit #{offset},#{rows}
	</select>
	<select id="getSumRecharge" resultType="com.meisui.manage.entity.Recharge">
		select r.recharge_rmb,r.change_virtual
		from t_recharge r,t_user u where r.uid=u.id and r.is_pay=#{is_pay}
		<if test="pay_virtual >-1">
		and r.pay_virtual= #{pay_virtual}
		</if>
		<if test="uid>0">
			and r.uid = #{uid}
		</if>
		<if test="f_uuid>0">
			and u.f_uuid = #{f_uuid}
		</if>
		<if test="pay_type>-1">
			<choose>
				<when test="pay_type==3"> and (r.pay_type = 3 or r.pay_type = 4 or r.pay_type = 5) </when>
				<otherwise> and r.pay_type = #{pay_type} </otherwise>
			</choose>
		</if>
		<if test="operate_centerid>0">
		    and u.operate_center_id=#{operate_centerid} 
		</if>
		<if test="agent_id>0">
		    and u.agent_id=#{agent_id} 
		</if>
		<if test="o_id !=null and o_id != ''">
			and r.o_id = #{o_id}
		</if>
		<if test="platform !=null and platform != ''">
			and r.platform=#{platform}
		</if>
		<if test="channel !=null and channel != ''">
			and r.channel=#{channel}
		</if>
		<if test="nickname !=null and nickname != ''">
			and u.nickname like "%"#{nickname}"%"
		</if>
		<if test="start_time != null and start_time != ''">
		<![CDATA[ and create_time>=#{start_time} ]]>
		</if>
		<if test="end_time != null and end_time != ''">
		<![CDATA[ and create_time<=#{end_time} ]]>
		</if>
		order by r.create_time desc
	</select>
	<select id="getRechargeCount" resultType="Integer">
		select count(1) from t_recharge r,t_user u where r.uid=u.id and
		r.is_pay=#{is_pay}
		<if test="pay_virtual >-1">
		and r.pay_virtual= #{pay_virtual}
		</if>
		<if test="uid>0">
			and r.uid = #{uid}
		</if>
		<if test="f_uuid>0">
			and u.f_uuid = #{f_uuid}
		</if>
		<if test="agent_id>0">
			and r.agent_id = #{agent_id}
		</if>
		<if test="pay_type>-1">
			<choose>
				<when test="pay_type==3"> and (r.pay_type = 3 or r.pay_type = 4 or r.pay_type = 5) </when>
				<otherwise> and r.pay_type = #{pay_type} </otherwise>
			</choose>
		</if>
		<if test="operate_centerid>0">
		    and u.operate_center_id=#{operate_centerid} 
		</if>
		<if test="o_id !=null and o_id != ''">
			and r.o_id = #{o_id}
		</if>
		<if test="platform !=null and platform != ''">
			and r.platform=#{platform}
		</if>
		<if test="channel !=null and channel != ''">
			and r.channel=#{channel}
		</if>
		<if test="nickname !=null and nickname != ''">
			and u.nickname like "%"#{nickname}"%"
		</if>
		<if test="start_time != null and start_time != ''">
		<![CDATA[ and create_time>=#{start_time} ]]>
		</if>
		<if test="end_time != null and end_time != ''">
		<![CDATA[ and create_time<=#{end_time} ]]>
		</if>
	</select>
	<select id="getRechargeSumWithUid" resultType="Integer">
		select IFNULL(sum(change_virtual),0) from t_recharge where uid=#{uid} and is_pay=1
	</select>

	<select id="getBalance_virtualrecordList" resultType="com.meisui.manage.entity.Balance_virtualrecord">
		<![CDATA[  select * from balance_virtualrecord   where id>0 ]]>

		<if test="uid>0">
			and uid = #{uid}
		</if>
		<if test="s_time!=null and e_time!=null and s_time!='' and e_time!=''">
			and create_date between #{s_time} and #{e_time}
		</if>
		<if test="diamondsa !=null and diamondsa != ''">
			and diamondsa = #{diamondsa}
		</if>
		<if test="diamondsb !=null and diamondsb != ''">
			and diamondsb = #{diamondsb}
		</if>
		<if test="nickname !=null and nickname != ''">
			and nickname like "%"#{nickname}"%"
		</if>
		order by create_date desc,id desc limit #{offset},#{rows}
	</select>
	<select id="getBalance_virtualrecordCount" resultType="Integer">
		<![CDATA[  select count(1) from balance_virtualrecord   where id>0 ]]>

		<if test="uid>0">
			and uid = #{uid}
		</if>
		<if test="s_time!=null and e_time!=null and s_time!='' and e_time!=''">
			and create_date between #{s_time} and #{e_time}
		</if>
		<if test="diamondsa !=null and diamondsa != ''">
			and diamondsa = #{diamondsa}
		</if>
		<if test="diamondsb !=null and diamondsb != ''">
			and diamondsb = #{diamondsb}
		</if>
		<if test="nickname !=null and nickname != ''">
			and nickname like "%"#{nickname}"%"
		</if>

	</select>

	<!--recharge_type:[-1:所有,0:渠道充值,1:人工充值]、 statistics_type:[-1:所有,0:按年,1:按月] -->
	<select id="getStatisticsList" resultType="com.meisui.manage.entity.RechargeStatistics">
		<!-- 按渠道充值查询 -->
		<if test="recharge_type==0">
		
			<if test="statistics_type==0 or statistics_type==1">
			  select recharge_year,<if test="statistics_type==1">recharge_month,</if>	
			  SUM(people_count) as people_count,SUM(recharge_count) as recharge_count,SUM(recharge_money) as recharge_money,SUM(virtual_money) as virtual_money from((
			</if>
			
			select year(create_time) as recharge_year,month(create_time) as recharge_month,
			day(create_time) as recharge_day,COUNT(DISTINCT uid) as people_count,COUNT(uid) as recharge_count,
			SUM(recharge_rmb) as recharge_money,SUM(change_virtual) as virtual_money FROM t_recharge
			<where>
			    is_pay = 1
			    <if test="channel=='0013'">
			      <![CDATA[and uid in(select id from t_user where date(register_time)>'2017-10-01')]]> <!-- LIN渠道查询时，剔除原"天香直播"App注册用户的充值统计记录,2017-10-02为新App"天香社区"的发包时间 -->
			    </if>
				<if test="start_time!=null and end_time!=null and start_time!='' and end_time!=''">
					and create_time between #{start_time} and #{end_time}
				</if>
				<if test="channel!=null and channel!=''">
					and channel = #{channel}
				</if>
				<if test="channel!='' and platform!=null">
				    and platform = #{platform}
				</if>				   
			</where>
            GROUP BY year(create_time),month(create_time),day(create_time) 
            <if test="statistics_type==-1"> order by recharge_year desc,recharge_month desc,recharge_day desc limit #{offset},#{rows}</if>

           <if test="statistics_type==0 or statistics_type==1">
            ) as base_tb) GROUP BY recharge_year <if test="statistics_type==1">,recharge_month</if>
             order by recharge_year desc <if test="statistics_type==1">,recharge_month desc </if> 
            limit #{offset},#{rows}
		   </if>
		</if>

		<!-- 按人工充值查询 -->
		<if test="recharge_type==1">
			<if test="statistics_type==0 or statistics_type==1">
			  select recharge_year,<if test="statistics_type==1">recharge_month,</if>	
			  SUM(people_count) as people_count,SUM(recharge_count) as recharge_count,SUM(recharge_money) as recharge_money,SUM(virtual_money) as virtual_money from((
			</if>		
		
			select year(create_date) as recharge_year,
			<if test="statistics_type==1 or statistics_type==-1">month(create_date) as recharge_month,</if>
			<if test="statistics_type==-1">day(create_date) as recharge_day,</if>

			COUNT(DISTINCT uid) as people_count,COUNT(uid) as recharge_count,
			SUM(balance_money) as recharge_money,SUM(balance_virtual) as
			virtual_money FROM balance_virtualrecord
			<where>
			    <![CDATA[  diamondsa = 'zftype1' and balance_money >=0 and balance_virtual >=0 ]]>				
				<if
					test="start_time!=null and end_time!=null and start_time!='' and end_time!=''">
					and create_date between #{start_time} and #{end_time}
				</if>
			</where>
            GROUP BY year(create_date),month(create_date),day(create_date) 
            <if test="statistics_type==-1"> order by recharge_year desc,recharge_month desc,recharge_day desc limit #{offset},#{rows}</if>

           <if test="statistics_type==0 or statistics_type==1">
            ) as base_tb) GROUP BY recharge_year <if test="statistics_type==1">,recharge_month</if>
             order by recharge_year desc <if test="statistics_type==1">,recharge_month desc </if> 
            limit #{offset},#{rows}
		   </if>
		</if>

		<!-- 按所有方式查询 -->
		<if test="recharge_type==-1">
			<if test="statistics_type==0 or statistics_type==1">
			  select recharge_year,<if test="statistics_type==1">recharge_month,</if>	
			  SUM(people_count) as people_count,SUM(recharge_count) as recharge_count,SUM(recharge_money) as recharge_money,SUM(virtual_money) as virtual_money from((
			</if>			
		
			select year(create_time) as recharge_year,
			<if test="statistics_type==1 or statistics_type==-1">month(create_time) as recharge_month,</if>
			<if test="statistics_type==-1">day(create_time) as recharge_day,</if>

			COUNT(DISTINCT uid) as people_count,COUNT(uid) as recharge_count,
			SUM(recharge_money) as recharge_money,SUM(virtual_money) as
			virtual_money FROM(
			SELECT uid as uid,create_time as create_time,recharge_rmb as
			recharge_money,change_virtual as virtual_money FROM t_recharge where is_pay = 1 
		    <if test="channel=='0013'">
			      <![CDATA[and uid in(select id from t_user where date(register_time)>'2017-10-01')]]> 
			</if>
			UNION ALL
			SELECT uid as uid,create_date,balance_money as
			recharge_money,balance_virtual as virtual_money FROM balance_virtualrecord where <![CDATA[  diamondsa = 'zftype1' and balance_money >=0 and balance_virtual >=0 ]]>

			) as union_t

			<where>
				<if
					test="start_time!=null and end_time!=null and start_time!='' and end_time!=''">
					create_time between #{start_time} and #{end_time}
				</if>
			</where>

            GROUP BY year(create_time),month(create_time),day(create_time) 
            <if test="statistics_type==-1"> order by recharge_year desc,recharge_month desc,recharge_day desc limit #{offset},#{rows}</if>

           <if test="statistics_type==0 or statistics_type==1">
            ) as base_tb) GROUP BY recharge_year <if test="statistics_type==1">,recharge_month</if>
             order by recharge_year desc <if test="statistics_type==1">,recharge_month desc </if> 
            limit #{offset},#{rows}
		   </if>
		</if>

	</select>



	<!-- recharge_type:[-1:所有,0:渠道充值,1:人工充值]、 statistics_type:[-1:所有,0:按年,1:按月] -->
	<select id="getStatisticsCount" resultType="Integer">
		select count(1) from((
		<!-- 按渠道充值查询 -->
		<if test="recharge_type==0">
			select year(create_time) as recharge_year
			<if test="statistics_type==1 or statistics_type==-1">,month(create_time) as recharge_month</if>
			<if test="statistics_type==-1">,day(create_time) as recharge_day</if>
			FROM t_recharge
			<where>
			    is_pay = 1
			    <if test="channel=='0013'">
			       <![CDATA[and uid in(select id from t_user where date(register_time)>'2017-10-01')]]> 
			    </if>			    
				<if test="start_time!=null and end_time!=null and start_time!='' and end_time!=''">
					and create_time between #{start_time} and #{end_time}
				</if>
				<if test="channel!=null and channel!=''">
					and channel = #{channel}
				</if>
				<if test="channel!='' and platform!=null">
				    and platform = #{platform}
				</if>				
			</where>

			GROUP BY year(create_time)
			<if test="statistics_type==1 or statistics_type==-1">,month(create_time)</if>
			<if test="statistics_type==-1">,day(create_time)</if>
		</if>

		<!-- 按人工充值查询 -->
		<if test="recharge_type==1">
			select year(create_date) as recharge_year
			<if test="statistics_type==1 or statistics_type==-1">,month(create_date) as recharge_month</if>
			<if test="statistics_type==-1">,day(create_date) as recharge_day</if>
			FROM balance_virtualrecord
			<where>
				<![CDATA[  diamondsa = 'zftype1' and balance_money >=0 and balance_virtual >=0 ]]>
				<if
					test="start_time!=null and end_time!=null and start_time!='' and end_time!=''">
					and create_date between #{start_time} and #{end_time}
				</if>
			</where>

			GROUP BY year(create_date)
			<if test="statistics_type==1 or statistics_type==-1">,month(create_date)</if>
			<if test="statistics_type==-1">,day(create_date)</if>
		</if>

		<!-- 按所有方式查询 -->
		<if test="recharge_type==-1">
			select year(create_time) as recharge_year
			<if test="statistics_type==1 or statistics_type==-1">,month(create_time) as recharge_month</if>
			<if test="statistics_type==-1">,day(create_time) as recharge_day</if>
			FROM(
			SELECT uid as uid,create_time as create_time,recharge_rmb as
			recharge_money,change_virtual as virtual_money FROM t_recharge where is_pay = 1
			<if test="channel=='0013'">
			      <![CDATA[and uid in(select id from t_user where date(register_time)>'2017-10-01')]]> 
			</if>			
			UNION ALL
			SELECT uid as uid,create_date,balance_money as
			recharge_money,balance_virtual as virtual_money FROM balance_virtualrecord where <![CDATA[  diamondsa = 'zftype1' and balance_money >=0 and balance_virtual >=0 ]]>

			) as union_t

			<where>
				<if
					test="start_time!=null and end_time!=null and start_time!='' and end_time!=''">
					create_time between #{start_time} and #{end_time}
				</if>
			</where>

			GROUP BY year(create_time)
			<if test="statistics_type==1 or statistics_type==-1">,month(create_time)</if>
			<if test="statistics_type==-1">,day(create_time)</if>
		</if>
		)as count_t)
	</select>

	<!--recharge_type:[-1:所有,0:渠道充值,1:人工充值]、 statistics_type:[-1:所有,0:按年,1:按月] -->
	<select id="getStatisticsSummary" resultType="com.meisui.manage.entity.RechargeStatistics">
		<!-- 按渠道充值查询 -->
		<if test="recharge_type==0">

			select SUM(people_count) as people_count,SUM(recharge_count) as recharge_count,SUM(recharge_money) as recharge_money,SUM(virtual_money) as virtual_money from(

			select COUNT(DISTINCT uid) as people_count,COUNT(uid) as recharge_count,
			SUM(recharge_rmb) as recharge_money,SUM(change_virtual) as virtual_money FROM t_recharge
			<where>
			    is_pay = 1
			    <if test="channel=='0013'">
			       <![CDATA[and uid in(select id from t_user where date(register_time)>'2017-10-01')]]> 
			    </if>			    
				<if test="start_time!=null and end_time!=null and start_time!='' and end_time!=''">
					and create_time between #{start_time} and #{end_time}
				</if>
				<if test="channel!=null and channel!=''">
					and channel = #{channel}
				</if>	
				<if test="channel!='' and platform!=null">
				    and platform = #{platform}
				</if>							   
			</where>
            GROUP BY year(create_time),month(create_time),day(create_time)) as base_tb
		</if>

		<!-- 按人工充值查询 -->
		<if test="recharge_type==1">

			select SUM(people_count) as people_count,SUM(recharge_count) as recharge_count,SUM(recharge_money) as recharge_money,SUM(virtual_money) as virtual_money from(
	
			select COUNT(DISTINCT uid) as people_count,COUNT(uid) as recharge_count,
			SUM(balance_money) as recharge_money,SUM(balance_virtual) as
			virtual_money FROM balance_virtualrecord
			<where>
				<![CDATA[  diamondsa = 'zftype1' and balance_money >=0 and balance_virtual >=0 ]]>
				<if
					test="start_time!=null and end_time!=null and start_time!='' and end_time!=''">
					and create_date between #{start_time} and #{end_time}
				</if>
			</where>
            GROUP BY year(create_date),month(create_date),day(create_date)) as base_tb
		</if>

		<!-- 按所有方式查询 -->
		<if test="recharge_type==-1">

			select SUM(people_count) as people_count,SUM(recharge_count) as recharge_count,SUM(recharge_money) as recharge_money,SUM(virtual_money) as virtual_money from(
				
			select COUNT(DISTINCT uid) as people_count,COUNT(uid) as recharge_count,
			SUM(recharge_money) as recharge_money,SUM(virtual_money) as
			virtual_money FROM(
			SELECT uid as uid,create_time as create_time,recharge_rmb as
			recharge_money,change_virtual as virtual_money FROM t_recharge where is_pay = 1
			<if test="channel=='0013'">
			     <![CDATA[and uid in(select id from t_user where date(register_time)>'2017-10-01')]]> 
			</if>			
			UNION ALL
			SELECT uid as uid,create_date,balance_money as
			recharge_money,balance_virtual as virtual_money FROM balance_virtualrecord where <![CDATA[  diamondsa = 'zftype1' and balance_money >=0 and balance_virtual >=0 ]]>

			) as union_t

			<where>
				<if
					test="start_time!=null and end_time!=null and start_time!='' and end_time!=''">
					create_time between #{start_time} and #{end_time}
				</if>
			</where>
            GROUP BY year(create_time),month(create_time),day(create_time)) as base_tb
		</if>
	</select>
	<select id="getRechargeByCenterId" resultType="Long">
	  select IFNULL(sum(recharge_rmb),0) rmb from t_recharge where is_pay=1 and operate_center_id=#{centerId}
	  <if test="sTime !='' and eTime !=''">
	  		<![CDATA[ and uid in (select id from t_user where operate_center_id=#{centerId} and register_time>=#{sTime} and register_time<=#{eTime})]]>
	  </if>
	</select>
	<select id="getRechargeRmbSumWithAgentId" resultType="Integer">
		select IFNULL(SUM(recharge_rmb),0) from t_recharge where is_pay=1 and agent_id=#{agentId}
	</select>
	<select id="getRechargeRmbSumWithAgentId2" resultType="Integer">
		select IFNULL(SUM(recharge_rmb),0) from t_recharge where is_pay=1 and agent_id=#{agentId}		
		  <if test="b_time!='' and e_time!=''">
			<![CDATA[and uid in (select id from t_user where operate_center_id > 0 and register_time>=#{b_time} and register_time<=#{e_time})]]>
		  </if>
	</select>
	
	<select id="getRechargeSumWithPromoterid" resultType="Integer">
		select ifnull(sum(recharge_rmb),0) from t_recharge where is_pay=1 and uid in (select id from t_user where operate_center_id=#{operate_center_id} and agent_id=#{agent_id} and (agent_promoter_id=#{agent_promoter_id} or id=#{uid}))
	</select>
	<select id="getRechargeSumWithPromoterid2" resultType="Integer">
		select ifnull(sum(recharge_rmb),0) from t_recharge where is_pay=1 
		and uid in (select id from t_user where operate_center_id=#{operate_center_id} and agent_id=#{agent_id} and (agent_promoter_id=#{agent_promoter_id} or id=#{uid})
			<if test="b_time !=null and b_time !='' and e_time !=null and e_time !=''">
				<![CDATA[ and register_time>=#{b_time} and register_time<=#{e_time}]]>
			</if>	
		) 		 
	</select>
	
	<select id="getAllRechargeSumWithPromoterid" resultType="Integer">
		select ifnull(sum(recharge_rmb),0) from t_recharge where is_pay=1 and uid in (select id from t_user where agent_promoter_id=#{agent_promoter_id} or id=#{uid})
	</select>
	
	<select id="getAllRechargeSumWithPromoterid2" resultType="Integer">
		select ifnull(sum(recharge_rmb),0) from t_recharge where is_pay=1 and uid in (select id from t_user where (agent_promoter_id=#{agent_promoter_id} or id=#{uid})
			<if test="b_time !=null and b_time !='' and e_time !=null and e_time !=''">
				<![CDATA[ and register_time>=#{b_time} and register_time<=#{e_time}]]>
			</if>	
		)	 	
	</select>
	
	<select id="getRechargeRmbSumWithUid" resultType="Integer">
		select IFNULL(SUM(recharge_rmb),0) from t_recharge where uid=#{uid} and is_pay=1 
			<if test="b_time!='' and b_time!=null">
			<![CDATA[and create_time >= #{b_time}]]>
		</if>
		<if test="e_time!='' and e_time!=null">
			<![CDATA[and create_time <= #{e_time}]]>
		</if>
	</select>
		<select id="getRechargeRmbSumWithUid2" resultType="Integer">
		select IFNULL(SUM(recharge_rmb),0) from t_recharge where uid=#{uid} and is_pay=1 
	</select>
	<select id="getRechargeByUid" resultType="Long">
	  select IFNULL(sum(recharge_rmb),0) rmb from t_recharge where uid=#{uid} and is_pay=1 
	  <if test="sTime !='' and eTime !=''">
	  and create_time between #{sTime} and #{eTime}
	  </if>
	</select>
	<select id="totalRecharge" resultType="Long">
		select IFNULL(SUM(recharge_rmb),0) from t_recharge where is_pay=1 and operate_center_id > 0 
		<if test="b_time!='' and e_time!=''">
			<![CDATA[and uid in (select id from t_user where operate_center_id > 0 and register_time>=#{b_time} and register_time<=#{e_time})]]>
		</if>
	</select>
</mapper>