<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.meisui.manage.dao.VehicleDao">
	<select id="getVehicleList" resultType="com.meisui.manage.entity.Vehicle">
		select id,name,price,level,pic,static_pic,special_pic,time_limit,type,rare_level,divide,sort,info,static_pic,special_pic,create_date,update_date,w_name,is_online,platform,alias_name from t_vehicle
		where is_del=0
		<if test="id>0">
		and	id=#{id}
		</if>
		<if test="name !=null and name !=''">
		and name like "%"#{name}"%"
		</if>
		<if test="is_online > -1">
		and is_online = #{is_online}
		</if>
		<if test="level >-1">
		and level = #{level}
		</if>
		order by sort desc,create_date desc limit #{offset},#{rows}
	</select>
		<select id="getVehicleCount" resultType="Integer">
		select count(1) from t_vehicle
		where is_del=0
		<if test="id>0">
		and	id=#{id}
		</if>
		<if test="name !=null and name !=''">
		and name like "%"#{name}"%"
		</if>
		<if test="is_online > -1">
		and is_online = #{is_online}
		</if>
		<if test="level >-1">
		and level = #{level}
		</if>
	</select>
	<insert id="insertVehiclen"  useGeneratedKeys="true" keyProperty="id" parameterType="com.meisui.manage.entity.Vehicle">
	insert into t_vehicle
		(name,price,level,pic,static_pic,special_pic,time_limit,rare_level,divide,sort,info,create_date,update_date,w_name,is_online,is_del,platform,type,alias_name)
		values(#{name},#{price},#{level},#{pic},#{static_pic},#{special_pic},#{time_limit},#{rare_level},#{divide},#{sort},#{info},#{create_date},#{update_date},#{w_name},#{is_online},#{is_del},#{platform},#{type},#{alias_name})
	</insert>
	<update id="updateVehicle">
		update t_vehicle set 
		name=#{name},
		price=#{price},
		level=#{level},
		pic=#{pic},
		static_pic = #{static_pic},
		special_pic = #{special_pic},
		time_limit = #{time_limit},
		rare_level = #{rare_level},
		divide=#{divide},
		sort=#{sort},
		info=#{info},
		create_date=#{create_date},
		update_date = #{update_date},
		w_name=#{w_name},
		is_online=#{is_online},
		is_del=#{is_del},
		platform = #{platform},
		type = #{type},
		alias_name = #{alias_name}
		where id = #{id}
	</update>
	<select id="getVehicleById" resultType="com.meisui.manage.entity.Vehicle">
	select id,name,price,level,pic,static_pic,special_pic,time_limit,type,rare_level,divide,sort,info,static_pic,special_pic,create_date,update_date,w_name,is_online,platform,alias_name 
	from t_vehicle where id = #{id}
	</select>
	<update id="deleteVehicle">
	update t_vehicle set 
	is_del=1 where id = #{id}
	</update>
</mapper>