<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.meisui.manage.dao.IwxshareDao">
	<select id="getShareMsg" resultType="com.meisui.manage.entity.WxShare" >
		select * from t_share_url
	</select>
	<insert id="save">
		insert into t_share_url (name,title,icon,url,w_name,create_time) values (#{name},#{title},#{icon},#{url},#{w_name},#{date})
	</insert>
	<update id="update">
		update t_share_url set name=#{name},title=#{title},icon=#{icon},url=#{url},w_name=#{w_name},update_time=#{date} where id=#{id}
	</update>
</mapper>

 
  
  
  
   